<br>
<table id="calibration-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col" data_bind="text: count"></th>
            <th scope="col" title="Dieser Button starten die Kalibration des Tools">Start</th>
            <th scope="col">Offset X</th>
            <th scope="col">Offset Y</th>
            <th scope="col">Offset Z</th>
            <th scope="col">Save</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Tool 0</th>
            <td class="start-cali">
                <form class="form-inline" style="margin: 0">
                    <button class="btn btn-primary" title="Start Kalibration of Tool XXX" data-bind="click: ledOn">Start</button>
                </form>
            </td>
            <td class="gcode_offset">
                <form class="form-inline" style="margin:0">
                    <div class="input-append">
                        <span class="input uneditable-input" style="width: 30px" data_bind="value: offsetT0Y"></span>
                        <button class="btn" title="Offset ändern"><i class="fa fa-pencil"></i></button>
                    </div>
                </form>
            </td>
            <td class="gcode_offset">
                <form class="form-inline" style="margin:0">
                    <div class="input-append">
                        <span class="input uneditable-input" style="width: 30px" data_bind="value: offsetT0Y"></span>
                        <button class="btn" title="Offset ändern"><i class="fa fa-pencil"></i></button>
                    </div>
                </form>
            </td>
            <td class="gcode_offset">
                <form class="form-inline" style="margin:0">
                    <div class="input-append">
                        <span class="input uneditable-input" style="width: 30px">-0.3</span>
                        <button class="btn" title="Offset ändern"><i class="fa fa-pencil"></i></button>
                    </div>
                </form>
            </td>
            <td class="save-offset">
                <form class="form-inline" style="margin:0">
                    <button class="btn btn-primary" title="Save Offsets for Tool XXX">Save</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
