<a href="#" data-bind="attr: {href: settings.settings.plugins.tpc.url}">Hello World!</a>



{#  der link wird an das element in der navbar gebunden
<a href="#" data-bind="attr: {href: settings.settings.plugins.tpc.url}">Hello World!</a>


das wäre nur eine schrift in der navbar ohne funktion
<a>hi was geht?</a>
#}
