<h3>TPC</h3>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.tpc.url">
        </div>
    </div>
    <!-- printer settings         -->
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#printer-settings"><h4>{{ _('Camera') }}</h4></a>
        </div>
        <div id="printer-settings" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="row-fluid">
                    <div class="span4"><h4>{{ _('Camera position') }}</h4></div>
                </div>
                <div class="row-fluid">
                    <div class="span12">You can fill the position manually</div>
                </div>
                <div class="row-fluid">
                    <label class="control-label" for="camera.position.x">X</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="camera.position.x" type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.tpc.camera.x">
                            <span class="add-on">mm</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <label class="control-label" for="camera.position.y">Y</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="camera.position.y" type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.tpc.camera.y">
                            <span class="add-on">mm</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <label class="control-label" for="camera.position.z">Z</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="camera.position.z" type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.tpc.camera.z">
                            <span class="add-on">mm</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">Feedspeed</div>
                </div>
                <div class="row-fluid">
                    <label class="control-label" for="feed_rate">Feedrate</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="feed_rate" type="number" step="100" class="input-mini text-right" data-bind="value: settings.plugins.tpc.feed_rate">
                            <span class="add-on">mm\min</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
         <!-- offsets settings         -->
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#offset-settings"><h4>{{ _('Offsets') }}</h4></a>
        </div>
        <div id="offset-settings" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="row-fluid">
                    <div class="span4"><h4>{{ _('Tool 0') }}</h4></div>
                </div>
                <div class="row-fluid">
                    <div class="span12">You can fill the position manually</div>
                </div>
                <div class="row-fluid">
                    <label class="control-label" for="offset.tool0.x">{{ _('X') }}</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="offset.tool0.x" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.tpc.tool0.x">
                            <span class="add-on">mm</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <label class="control-label" for="offset.tool0.y">Y</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="offset.tool0.y" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.tpc.tool0.y">
                            <span class="add-on">mm</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <label class="control-label" for="offset.tool0.z">Z</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="offset.tool0.z" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.tpc.tool0.z">
                            <span class="add-on">mm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- gcode settings         -->
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#gcode-settings"><h4>{{ _('Gcode Settings') }}</h4></a>
        </div>
        <div id="gcode-settings" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="row-fluid">
                    <div class="span4"><h4>{{ _('Gcode to take Tool') }}</h4></div>
                </div>
                <div class="row-fluid">
                    <div class="span12">use curly brackets as filler of the tool number</div>
                </div>
                <div class="row-fluid">
                    <label class="control-label" for="gcode.tool0">{{ _('Tool 0') }}</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="gcode.tool0" type="text" class="input text-left" data-bind="value: settings.plugins.tpc.takeTool" placeholder="T{}">
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <label class="control-label" for="offset.tool0.y">Y</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="offset.tool0.y" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.tpc.tool0.y">
                            <span class="add-on">mm</span>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <label class="control-label" for="offset.tool0.z">Z</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="offset.tool0.z" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.tpc.tool0.z">
                            <span class="add-on">mm</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>



